1. What are data structures, and why are they important?
  - Data structure is a way of organising and storing data so that it can be accessed and manipulated easily and efficiently.
  - Data is of no use if the cannot be accessed and manipulated, hence data structues are important.

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types are those whose elements can be accessed and be changed or replaced. Example - Sets, Lists
  - Immutable data types are those whose elements cannot be changed or replaced. Example - Strings, Tuples

3. What are the main differences between lists and tuples in Python?
  - Lists are mutable (elements can be changed) while tuples are immutable (elements cannot be changed).

4. Describe how dictionaries store data.
  - Dictionaries store data in pairs of keys and values.
  Example : a = {"name"="Amiyaa"}
  Here, "name" is a key and "Amiyaa" is values.
  Also keys work as index in dictionaries.

5. Why might you use a set instead of a list in Python?
  - If we want only unique elements of a list, we should use a set.

6. What is a string in Python, and how is it different from a list?
  - String is a sequence of characters where each character is a single unit of text which is helpful to represent and manipulate textual data in a programming language.
  - Strings are immutable (any character of a string cannot be changed) while lists are mutable (any element of a list can be changed).

7. How do tuples ensure data integrity in Python/
  - Since tuples are immutable(elements cannot be changed), it ensures data integrity in Python.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - Hash tables are immutable data types.
  - Since dictionaries are mutable, they are unhashed tables. They have an unstable hash value.

9. Can lists contain different data types in Python?
  - Yes, they are heterogeneous.

10. Explain why strings are immutable in Python/
  - Unique text characters of a string cannot be replaced or changed once a string is created. Thus they are immutable.

11. What advantages do dictionaries offer over lists for certain tasks?
  - In lists, default indexing is present for the elements, while for dictionaries, we are able to assign names for the index (which we call keys).
  Thus indexing is made easierin dictionaries.

12. Describe a scenario where using a tuple would be preferable over a list?
  - A scenario where we do not want the user to make any changes over an existing data, in such a situation, a tuple would be more preferrable over a list.

13. How do sets handle duplicate values in Python?
  - A set would return only unique values (can be unordered) even if any element is repeated.

14. How does the “in” keyword work differently for lists and dictionaries?
  - In lists, "in" checks for presence of elements.
  - In dictionaries, "in" checks for existence of keys.

15. Can you modify the elements of a tuple? Explain why or why not?
  - We cannot modify the elements of a tuple since they are immutable.

16. What is a nested dictionary, and give an example of its use case.
  - Lists and tuples can be included as values in dictionaries. They are called nested dictionaries.
  Example - a = {"names"=["A","B","C"], "no"=(1,2,3)}

17. Describe the time complexity of accessing elements in a dictionary.
  - It takes more time to access the elements by the name of their keys than by the default indexing.

18. In what situations are lists preferred over dictionaries?
  - In situations where indexing names need not be specified by us for accessing individual elements of a list.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are optimized for fast key-based access.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - While retrieving data from list, the default indexing which starts from zero (or negative indexing) must be specified.
  - While retrieving data from dictionary, instead of the default index, we need to specify the name of the key which is storing the value that we need to retrieve.

In [1]:
#1. Write a code to create a string with your name and print it
name = "Amiyaa"
print (name)

Amiyaa

In [2]:
#2. Write a code to find the length of the string "Hello World".
a = "Hello World"
print (len(a))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
a = "Python Programming"
a[0:3]

'Pyt'

In [4]:
#4. Write a code to convert the string "hello" to uppercase.
a = "hello"
a.upper()

'HELLO'

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
a.replace("apple", "orange")

'I like orange'

In [6]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [8]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
a = [1, 2, 3, 4]
a.append(10)
a

[1, 2, 3, 4, 10]

In [9]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a = [1, 2, 3, 4, 5]
a.remove(3)
a

[1, 2, 4, 5]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a = ['a', 'b', 'c', 'd']
a[1]

'b'

In [11]:
#10. Write a code to reverse the list
a =  [10, 20, 30, 40, 50]
a[::-1]

[50, 40, 30, 20, 10]

In [12]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
a = (10, 20, 30)
print (a)

(10, 20, 30)

In [18]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
a = ('apple', 'banana', 'cherry')
a[0]

'apple'

In [19]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
a = (1, 2, 3, 2, 4, 2)
a.count(2)

3

In [20]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
a = ('dog', 'cat', 'rabbit')
a.index("cat")

1

In [21]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
a = ('apple', 'orange', 'banana')
"banana" in a

True

In [23]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
a = {1, 2,3, 4, 5}
print (a)

{1, 2, 3, 4, 5}

In [25]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
a = {1, 2, 3, 4}
a.add(6)
print (a)

{1, 2, 3, 4, 6}

In [26]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
a = (10, 20, 30)
print(a)

(10, 20, 30)

In [27]:
#19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
a = ('apple', 'banana', 'cherry')
a[0]

'apple'

In [28]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
a = (1, 2, 3, 2, 4, 2)
a.count(2)

3

In [29]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a = ('dog', 'cat', 'rabbit')
a.index("cat")

1

In [30]:
#22.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
a = ('apple', 'orange', 'banana')
"banana" in a

True

In [31]:
#23.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
a = {1, 2,3, 4, 5}
print (a)

{1, 2, 3, 4, 5}

In [32]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
a = {1, 2, 3, 4}
a.add(6)
print (a)

{1, 2, 3, 4, 6}